docker {
    enabled = true
}

process {
    withLabel: "r_other" {
        container = "janbinkowski96/methyl-array-qc-r-other"
    }

    withLabel: "r_sesame" {
        container = "janbinkowski96/methyl-array-qc-r"
    }

    withLabel: "python" {
        container = "janbinkowski96/methyl-array-qc-python"
    }
}

plugins { 
    id 'nf-schema@2.3.0' 
}

validation {
    help {
        enabled = true
        command = "nextflow run methyl-array_qc.nf --params-file test_params_config.json"
    }
}

params {
    cpus = -1
    collapse_prefix = "FALSE"
    p_threshold = 0.2
    s_threshold = 0.2
    n_cpgs_beta_distr = 10000
    nan_per_probe_n_cpgs = 1000
    perc_pca_cpgs = 10
    pca_number_of_components = 5
    pca_columns = 'Sentrix_ID,Sentrix_Position'
    pca_matrix_PC_count = 5
    infer_epi_age = true
    epi_clocks = 'HannumG2013,HorvathS2013'
}
