<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MethylArrayQC report</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
    <style>
        body {
            margin: 0 20px;
            background: whitesmoke;
        }

        table td,
        table th {
            word-break: break-word;
            white-space: normal;
        }

        pre {
            white-space: pre-wrap;
            word-break: break-word;
            margin: 0;
        }

        .plot-container .js-plotly-plot {
            width: 100% !important;
            height: auto !important;
        }

        .plot-container {
            overflow-x: auto;
        }

        table td {
            min-width: 150px;
        }

        .brick-red-bar {
            background-color: #B22222 !important;
        }

        footer {
            text-align: center;
            padding: 20px;
            background-color: whitesmoke;
            color: black;
        }
    </style>
</head>

<body>
    <div class="container mt-3">
        <h2>Methylation Array QC report</h2>
        <p>Left-click on a report (sub)section header to hide or show its contents. Hover over specific plot elements to
            display e.g. details for specific samples.</p>
        <div class="accordion" id="accordion">

            {% macro render_section(section, parent_id="accordion") %}
            {% if section.type == "table-row-group"
            or section.data_list is defined
            or section.html
            or section.html_list
            or section.data
            or section.subsections %}
            <div class="card mb-3">
                <div class="card-header">
                    <a class="btn w-100 text-start" data-bs-toggle="collapse" href="#{{ section.id }}">
                        <b>{{ section.title }}</b>
                    </a>
                </div>
                <div id="{{ section.id }}" class="collapse" data-bs-parent="#{{ parent_id }}">
                    <div class="card-body" style="text-align: justify;">
                        {% if section.description and parent_id == "accordion" %}
                        <p class="text-muted mt-2">{{ section.description }}</p>
                        {% endif %}

                        {% if section.type == "table" %}
                        <div class="table-responsive">
                            <table class="table w-100">
                                <thead>
                                    <tr>
                                        <th style="width:40%">Parameter</th>
                                        <th style="width:60%">Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for k,v in section.data.items() %}
                                    <tr>
                                        <td><b>{{k}}</b></td>
                                        <td>{% if v is string or number or boolean %}{{v}}{% else %}
                                            <pre>{{ v|tojson(indent=2) }}</pre>{% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        {% elif section.type == "table-rows" %}
                        <div class="table-responsive">
                            <table class="table w-100">
                                <thead>
                                    <tr>{% for col in section.data[0].keys() %}<th>{{col}}</th>{% endfor %}</tr>
                                </thead>
                                <tbody>
                                    {% for row in section.data %}
                                    <tr>{% for v in row.values() %}<td>{% if v is string or number or boolean %}{{v}}{%
                                            else %}
                                            <pre>{{ v|tojson(indent=2) }}</pre>{% endif %}
                                        </td>{% endfor %}</tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        {% elif section.type == "plot" %}
                        <div class="plot-container">
                            <div class="plot-loading">
                                <div class="progress my-2">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated brick-red-bar text-white"
                                        style="width:100%">Loading plot...</div>
                                </div>
                            </div>
                            <div class="lazy-plot d-flex justify-content-center"
                                data-html='{{ section.html|tojson|safe }}' data-plot-name="{{ section.plot_name }}">
                            </div>
                        </div>

                        {% elif section.type == "plot-group" %}
                        {% for plot in section.html_list %}
                        <div class="plot-container mb-4">
                            <div class="plot-loading">
                                <div class="progress my-2">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated brick-red-bar text-white"
                                        style="width:100%">Loading plot...</div>
                                </div>
                            </div>
                            <div class="lazy-plot d-flex justify-content-center"
                                data-html='{{ plot.plot_html|tojson|safe }}' data-plot-name="{{ plot.plot_name }}">
                            </div>
                        </div>
                        {% endfor %}
                        {% elif section.type == "table-row-group" %}
                        {% for table in section.data_list %}
                        {% set table_id = "table-" ~ section.id ~ "-" ~ loop.index|string %}
                        <div class="mb-2">
                            <h5 class="mb-0 d-inline">
                                {{ table.title }}
                                {% if table.filename %}
                                <a href="#" onclick="event.preventDefault(); exportTableToCSV('{{ table_id }}', '{{ table.filename }}.csv')"
                                    title="Download CSV" class="btn btn-sm ms-2"
                                    style="border-color: #B22222; background-color: whitesmoke; color: #B22222; border-radius: 0.1rem; padding: 0.1rem 0.1rem; font-size: 1.2rem;">
                                    <i class="bi bi-filetype-csv"></i>
                                </a>
                                {% endif %}
                            </h5>
                        </div>
                        <div class="table-responsive">
                            <table class="table" id="{{ table_id }}">
                                <thead>
                                    <tr>
                                        {% for col in table.data[0].keys() %}
                                        <th>{{ col }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in table.data %}
                                    <tr>
                                        {% for val in row.values() %}
                                        <td>
                                            {% if val is string or number or boolean %}{{ val }}
                                            {% else %}
                                            <pre>{{ val | tojson(indent=2) }}</pre>{% endif %}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endfor %}

                        {% elif section.type == "plot+table" %}
                        <div class="table-responsive">
                            <table class="table w-100">
                                <thead>
                                    <tr>{% for col in section.data[0].keys() %}<th>{{col}}</th>{% endfor %}</tr>
                                </thead>
                                <tbody>
                                    {% for row in section.data %}
                                    <tr>{% for v in row.values() %}
                                        <td>{% if v is string or number or boolean %}{{v}}{% else %}
                                            <pre>{{ v|tojson(indent=2) }}</pre>{% endif %}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if section.html %}
                        <div class="plot-container">
                            <div class="plot-loading">
                                <div class="progress my-2">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated brick-red-bar text-white"
                                        style="width:100%">Loading plot...</div>
                                </div>
                            </div>
                            <div class="lazy-plot d-flex justify-content-center"
                                data-html='{{ section.html|tojson|safe }}' data-plot-name="{{ section.plot_name }}">
                            </div>
                        </div>

                        {% elif section.html_list %}
                        {% for plot in section.html_list %}
                        <div class="plot-container mb-4">
                            <div class="plot-loading">
                                <div class="progress my-2">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated brick-red-bar text-white"
                                        style="width:100%">Loading plot...</div>
                                </div>
                            </div>
                            <div class="lazy-plot d-flex justify-content-center"
                                data-html='{{ plot.plot_html|tojson|safe }}' data-plot-name="{{ plot.plot_name }}">
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endif %}
                        {% if section.subsections %}
                        <div class="accordion mt-3" id="accordion-{{ section.id }}">
                            {% for sub in section.subsections %}
                            {{ render_section(sub, "accordion-" ~ section.id) }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endmacro %}

            {% for section in report_sections %}
            {{ render_section(section) }}
            {% endfor %}
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll('.lazy-plot').forEach(container => {
                const observer = new IntersectionObserver(entries => {
                    for (let entry of entries) {
                        if (entry.isIntersecting) {
                            try {
                                const raw = JSON.parse(container.dataset.html);
                                container.innerHTML = raw;

                                // Re-execute any embedded scripts
                                container.querySelectorAll('script').forEach(s => {
                                    const n = document.createElement('script');
                                    if (s.src) {
                                        n.src = s.src;
                                    } else {
                                        n.textContent = s.textContent;
                                    }
                                    s.replaceWith(n);
                                });

                                const loader = container.closest('.plot-container').querySelector('.plot-loading');
                                if (loader) loader.remove();

                                // Find the plotly div that was inserted
                                const plotDiv = container.querySelector('.js-plotly-plot');
                                if (plotDiv && plotDiv.data && plotDiv.layout) {
                                    // Re-render with custom config TODO: find a way to insert readable plotly filename!
                                    //const filename = plotDiv.layout?.title?.text?.replace(/\s+/g, "_") || "plot";
                                    const filename = container.dataset.plotName || 'plot';

                                    Plotly.newPlot(plotDiv, plotDiv.data, plotDiv.layout, {
                                        responsive: true,
                                        modeBarButtons: [[
                                            {
                                                name: 'Download plot as svg',
                                                icon: Plotly.Icons.camera,
                                                click: function (gd) {
                                                    Plotly.downloadImage(gd, {
                                                        format: 'svg',
                                                        filename: filename
                                                    });
                                                }
                                            },
                                            'zoom2d', 'pan2d', 'select2d', 'lasso2d',
                                            'zoomIn2d', 'zoomOut2d', 'autoScale2d', 'resetScale2d',
                                            'toggleSpikelines', 'hoverClosestCartesian', 'hoverCompareCartesian'
                                        ]],
                                    });
                                }

                                observer.unobserve(container);
                            } catch (err) {
                                console.error('Failed lazy load:', err);
                            }
                        }
                    }
                }, { threshold: 0.1 });

                observer.observe(container);
            });
        });

        function exportTableToCSV(tableId, filename) {
            const table = document.getElementById(tableId);
            let csv = [];
            for (let row of table.rows) {
                let cols = Array.from(row.cells).map(cell =>
                    '"' + cell.textContent.trim().replace(/"/g, '""') + '"'
                );
                csv.push(cols.join(','));
            }
            const blob = new Blob([csv.join('\n')], { type: 'text/csv;charset=utf-8;' });
            const link = document.createElement("a");
            link.href = URL.createObjectURL(blob);
            link.download = filename;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }

    </script>
    <!-- <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll('.lazy-plot').forEach(container => {
                const observer = new IntersectionObserver(entries => {
                    for (let entry of entries) {
                        if (entry.isIntersecting) {
                            try {
                                const raw = JSON.parse(container.dataset.html);
                                container.innerHTML = raw;
                                container.querySelectorAll('script').forEach(s => {
                                    const n = document.createElement('script');
                                    if (s.src) n.src = s.src;
                                    else n.textContent = s.textContent;
                                    s.replaceWith(n);
                                });
                                const loader = container.closest('.plot-container').querySelector('.plot-loading');
                                if (loader) loader.remove();
                                observer.unobserve(container);
                            } catch (err) {
                                console.error('Failed lazy load:', err);
                            }
                        }
                    }
                }, { threshold: 0.1 });
                observer.observe(container);
            });
        });
    </script> -->
</body>
<footer>
    <p>Generated by <a href="https://github.com/ClinicalEpigeneticsLaboratory/MethylArray-QC">MethylArray-QC</a>.
        Powered by <a
            href="https://www.pum.edu.pl/uniwersytet/dydaktyka_i_leczenie/kliniki_katedry_zaklady_i_pracownie/wm/samodzielna_pracownia_epigenetyki_klinicznej/">The
            Independent Clinical Epigenetics Laboratory</a>. For research use only.</p>
</footer>

</html>